<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Donmo_Roundup::donmo_report"
            title="Donmo Report"
            translate="title"
            module="Donmo_Roundup"
            sortOrder="80"
            parent="Magento_Reports::report_salesroot"
            action="donmo/report"
            resource="Donmo_Roundup::donmo_report"/>
    </menu>
</config>
